<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/activity_stream.css">
</head>
<body>
    <div class="container">
       <header>
           <div class="top_bar">
            <h1><a href="/" id="logo">AULIM</a></h1>
              <nav>
                  <ul class="menu">
                    <li><a href="/activity_stream">스트림</a></li>
                    <li><a href="/">시간표</a></li>
                    <li><a href="/Group">공강시간</a></li>
                    <li><a href="/schedule">계획표 추천</a></li>
                    <li><a href="/memo">강의 메모</a></li>
                  </ul>
              </nav>
          </div>
       </header>
    </div>
    
    <script src="notice.js"></script>

    <div class="notice_list" id="notice_list">
        <!--최근 공지사항들을 모와놓음-->
        <br>
        <input type="button" value="추가" onclick="add_sub()">

        <div class="new_notice">
            <h2>New notice</h2>
            <ul>
                <li>
                    <div id="field"></div>

                    <div class="notice">공지사항
                        <div class="timestamp">
                            <span class="date">5시간</span>
                            <span class="time">17:21</span>
                        </div>
                        <div class="subject_name">소프트웨어공학</div>
                        <div class="name">제목</div>
                        <div class="content">내용 표시</div>
                        <br>
                    </div>
                </li>
                <li>
                    <div class="notice">공지사항
                        <div class="timestamp">
                            <span class="date">7시간</span>
                            <span class="time">11:21</span>
                        </div>
                        <div class="subject_name">운영체제</div>
                        <div class="name">제목</div>
                        <div class="content">내용 표시</div>
                        <br>
                    </div>
                </li>

            </ul>
        </div>
        <!--이전 공지사항들(24시간 전?)을 모와놓음-->
        <div class="last_notice">
            <h2>Previous</h2>
            <ul>
                <li>
                    <div class="lecture_note" id="lecture_note">강의노트
                        <div class="timestamp">
                            <span class="date">7시간</span>
                            <span class="time">11:21</span>
                        </div>
                        <div class="subject_name">운영체제</div>
                        <div class="name">제목</div>
                        <div class="content">내용 표시</div>
                        <br>
                    </div>
                </li>
                <li>
                    <div class="assignment">과제
                        <div class="timestamp">
                            <span class="date">7시간</span>
                            <span class="time">11:21</span>
                        </div>
                        <div class="subject_name">운영체제</div>
                        <div class="name">제목</div>
                        <div class="content">내용 표시</div>
                        <br>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>