<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/Group.css">
  <title>Group</title>
</head>
<body>
   <div class="container">
       <header>
           <div class="top_bar">
            <h1><a href="/" id="logo">AULIM</a></h1>
              <nav>
                  <ul class="menu">
                    <li><a href="/activity_stream">스트림</a></li>
                    <li><a href="/">시간표</a></li>
                    <li><a href="/Group">공강시간</a></li>
                    <li><a href="/schedule">계획표 추천</a></li>
                    <li><a href="/memo">강의 메모</a></li>
                  </ul>
              </nav>
          </div>
       </header>
    </div>
    
    <main>
        <div class="container_content">
            <div class="Group">
                My Group
                <button>그룹 생성</button> <button>그룹 삭제</button>
                <div class=groupbox>그룹 1
                    <button>멤버추가</button>
                    <button>공강시간 확인</button>
                    <div class="member">김진수<button>X</button></div>
                    <div class="member">이재협<button>X</button></div>
                    <div class="member">이창엽<button>X</button></div>
                    <div class="member">신승헌<button>X</button></div>
                    <div class="member">양준길<button>X</button></div>
                </div>
            </div>
            <div class="schedule">
              <p>시간표</p>
            </div>    
          </div>
    </main>
</body>
<div class="makebox">
    <p>추가할 멤버의 코드를 입력하세요.</p>
    <input type="text"> <button>확인</button>
</div>
</html>