<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width,initial-scale=1">-->
    <title>time_table</title>
    <link rel="stylesheet" href="/css/memo.css">
    
</head>
<body>
   <div class="container">
       <header>
           <div class="top_bar">
              <h1><a href="/" id="logo">AULIM</a></h1>
              <nav>
                  <ul class="menu">
                      <li><a href="/activity_stream">스트림</a></li>
                      <li><a href="/">시간표</a></li> 
                      <li><a href="/Group">공강시간</a></li>
                      <li><a href="/schedule">계획표 추천</a></li>
                      <li><a href="/memo">강의 메모</a></li>
                  </ul>

                  <div class="login_box">
                    <form class="login_form">
                        <input id="user_id" name="username" type="text"/>
                        <label for="username">ID</label>
                        <input id="user_pw" name="userpw" type="password"/>
                        <label for="userpw">PW</label>
                    </form>
                  </div>
              </nav>

              
          </div>
          
       </header>
       <div class="title">
         <div style="font-size: 3rem;">time_table</div>
         <div class="button">
             <div><input type="radio" name="table" value="base" checked="checked"> 기본 시간표 보기</div>
              <div><input type="radio" name="table" value="add"> 추가일정 포함한 시간표 보기</div>
         </div>
       </div>
       
       
       <section class="content">
         <nav>
             asdasdsdasd
         </nav>
          <main>
            <p1>Register here</p1>
    
          </main>
          
          <aside>
              ad
          </aside>
           
       </section>
       <footer>
           html
       </footer>
   </div>
    
</body>
</html>
