<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/schedule.css">
</head>
<body>
<div class="container">
    <header>
        <div class="top_bar">
            <h1><a href="/" id="logo">AULIM</a></h1>
            <nav>
                <ul class="menu">
                    <li><a href="/activity_stream">스트림</a></li>
                    <li><a href="/">시간표</a></li>
                    <li><a href="/Group">공강시간</a></li>
                    <li><a href="/schedule">계획표 추천</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<h2>계획표</h2>

<table style="width:50%">
    <caption> 계획표  연습1</caption>

    <tr>
        <th> </th>
        <th> </th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
    </tr>
    <tr>
        <th>A교시<br>09:00</th>
        <th>1교시</th>
        <td></td>
        <td> </td>
        <td style = "background : LavenderBlush ;"rowspan="2">소웨공</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>A교시<br>09:30</th>
        <th>1교시</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>A교시<br>10:00</th>
        <th>2교시</th>
        <td> </td>
        <td> </td>
        <td></td>
        <td style = "background : Lavender;" rowspan="2">북한사회의 이해</td>
        <td> </td>

    </tr>
    <tr>
        <th>B교시<br>10:30</th>
        <th>2교시</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>B교시<br>11:00</th>
        <th>3교시</th>
        <td></td>
        <td> </td>
        <td ></td>
        <td ></td>
        <td> </td>
    </tr>
    <tr>
        <th>B교시<br>11:30</th>
        <th>3교시</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>C교시<br>12:00</th>
        <th>4교시</th>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>C교시<br>12:30</th>
        <th>4교시</th>
        <td></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>C교시<br>13:00</th>
        <th>5교시</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <th>D교시<br>13:30</th>
        <th>5교시</th>
        <td></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>D교시<br>14:00</th>
        <th>6교시</th>
        <td></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>E교시<br>14:30</th>
        <th>6교시</th>
        <td></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
        <th>E교시<br>15:00</th>
        <th>7교시</th>
        <td></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>

</table>

</body>
</html>



