/*상단바 디자인*/
body{
    padding-top: 70px;
}
.container{
    display: flex;
    flex-direction:column;
}
header{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
}
#logo {
  color: white;
  line-height: 10px;
  float: left;
  padding-left: 15px;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.menu li{
    float: left;
}
.menu a{
    color: white;
    padding: 1rem 5rem;
    display: block;
}
.top_bar{
    background-color: cornflowerblue;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
/*            text-align: center;*/
    padding: 10px;
    margin: 0 auto;
}
a{
  text-decoration: none;
}
h1{
    color: white;
    line-height: 10px;
    float: left;
    padding-left: 15px;
}



/*메인 내용 디자인*/
.container_content{
    background: beige;
    height: 100vh;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    /*flex-flow: column nowrap;
    */
    justify-content: space-around;
    align-items: center;
  }
  
  .Group{
    width: 40vw;
    height: 70vh;
    background: #e6ee9c;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
  }
  
  .groupbox{
    width: 30vw;
    height: 30vh;
    background: #ef9a9a;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 20px;
  }
  

  .member{
    left: 10px;
    width: 20vw;
    background: white;
    border: 1px solid black;
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 3px;
  }
  .group_Making{
    width: 30vw;
    height: 30vh;
    background: #ef9a9a;
    border: 1px solid black;
  }
  
  
  .schedule{
    width: 50vh;
    height: 70vh;
    background: #ffc4ff;
    border: 1px solid black;
  }